[submodule "mall-commodity-service"]
	path = mall-commodity-service
	url = https://github.com/Fast-Fast-Fast/mall-commodity-service.git
[submodule "mall-scripts"]
	path = mall-scripts
	url = https://github.com/Fast-Fast-Fast/mall-scripts.git
